:root{
    --green-color: #216E61;
    --grayish-color: #494949;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    color: var(--grayish-color);
}

img{
    width: 100%;
}

.navigation{
    display: flex;
    background-color: rgba(31, 30, 30, 0.967);
    width: 100%;
    z-index: 1;
    margin-bottom: 13rem;
}

.navigation__primary{
    width: 55%;
    height: 100vh;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.nav--visible{
    visibility: visible;
    position: relative;
}

.navigation__logo {
    width: 15%;
    margin-top: -53rem;
    margin-left: 1rem;
}

.navigation__nav-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__nav-items > a{
    color: white;
    cursor: pointer;
    padding-top: 3rem;
    font-size: 18px;
    text-decoration: none;
}

.navigation__nav-items > a:hover{
    color: var(--green-color);
}

.navigation__nav-items > .active  {
    text-decoration: underline;
}

.hamburger{
    width: 60%;
    position: relative;
}

.navigation__toggle{
    cursor: pointer;
    border: none;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--green-color);
    position: absolute;
    right: 0;
    margin: 2em;
}

.hamburger, .hamburger::before, .hamburger::after{
    display: block;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}

.hamburger::before, .hamburger::after{
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}



.about-one{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.about-one > h2, .about-two > h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 500;
}

.about__intro > img {
    margin-bottom: 1rem;
    border-radius: 6px;
}

.about__intro > p {
    font-size: 14px;
    margin-bottom: 1rem;
}

hr{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.about__team{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25rem;
}

.team__member-one, .team__member-two, .team__member-three, .team__member-four, .team__member-five {
    margin-bottom: 23rem;
}

.member__intro-card{
    position: absolute;
    padding: 2rem 3rem;
    background-color: white;
    width: 110%;
    margin: -2rem -5%;
    margin-bottom: 10rem;
    color: var(--grayish-color);
    border-radius: 5px;
    box-shadow: 8px 5px 35px -16px rgba(0,0,0,0.61);
    -webkit-box-shadow: 8px 5px 35px -16px rgba(0,0,0,0.61);
    -moz-box-shadow: 8px 5px 35px -16px rgba(0,0,0,0.61);
}

.member__intro-card > h2{
    font-size: 21px;
    margin-bottom: 1rem;
}

.member__intro-card > h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.team__member-five{
    margin-bottom: -1rem;
}

.about__contact-btn{
    margin-bottom: 4rem;
    display: flex;
    justify-content: right;
    margin-right: 2rem;
}

.about__contact-btn > button{
    cursor: pointer;
    padding: 1rem 15%;
    border: none;
    background-color: var(--green-color);
    font-size: 14px;
    border-radius: 5px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    transition-duration: .3s;
    transition-delay: .1s;
}

.about__contact-btn > button:hover{
    background-color: #298979;
}




footer{
    background-color: #0E2B26;
    padding: 2rem;
    color: white;
}

.footer__socials{
    margin-bottom: 2rem;
}

.footer__socials > span > i {
    font-size: 21px;
    padding-right: .2rem;
    margin-top: .5rem;
    cursor: pointer;
}

.footer__socials > span > i:hover {
    color: var(--green-color);
}

.footer__primary-nav{
   margin-bottom: 2rem;
}

.footer__legal-nav{
    margin-bottom: 2rem;
}

ul{
    margin-top: .5rem
}

ul > li{
    list-style: none;
    padding: .5rem 0;
    margin-left: -2.4rem;
}

ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer__form{
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--grayish-color);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.footer__form > h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 21px;
}

.footer__form > p{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 14px;
}

.footer__form > input{
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    color: var(--grayish-color);
    margin-top: .5rem;
}

.footer__form > label{
    font-size: 14px;
}

.footer__form > button {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 2px;
    background-color: var(--green-color);
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    transition-duration: .3s;
    transition-delay: .1s;
}

.footer__form > button:hover{
    background-color: #298979;
}

footer > p {
    text-align: center;
    font-size: 14px;
}

.footer__nav-items > li > .active, .footer__nav-items > li > a:hover{
    text-decoration: underline;
    color: var(--green-color);
}

@media only screen and (max-width: 849px) and (min-width: 575px) {

    .team__member-one, .team__member-two, .team__member-three, .team__member-four, .team__member-five {
        margin-bottom: 19rem;
    }

    .team__member-five{
        margin-bottom: -7rem;
    }

}


@media only screen and (min-width:770px) {

    .navigation{
        justify-content: space-between;
        background-color: unset;
    }

    .navigation__toggle{
        display: none;
    }

    .navigation__logo{
        width: 100%;
        width: 5rem;
        margin-left: 11%;
        margin-top: -2rem;
    }

    .navigation__primary{
        visibility: visible;
        width: 90%;
        margin-top: 2rem;
        height: 10vh;
    }

    .navigation__nav-items{
        flex-direction: row;
        height: 0;
        gap: 3rem;
    }

    .navigation__nav-items > a{
        color: var(--grayish-color);
        font-size: 20px;
    } 

    .footer__nav{
        display: flex;
        justify-content: space-between;
    }

}

@media only screen and (min-width: 850px) {

    .navigation__nav-items{
        gap: 4rem;
    }

    .footer__container{
        display: flex;
        justify-content: space-around;
    }

    .footer__info{
        width: 45%;
    }

    .footer__form{
        width: 50%;
    }

    .about__intro{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .about__intro > img{
        width: 45%;
        height: 20rem;
    }

    .about__intro > p {
        width: 50%;
    }

    .team__member-one, .team__member-two, .team__member-three, .team__member-four, .team__member-five {
        display: flex;
        margin-bottom: 2rem;
    }

    .team__member-two, .team__member-four {
        flex-direction: row-reverse;
    }

    .member__intro-card{
        position: unset;
        padding: 2rem 2rem;
        background-color: white;
        width: 90%;
        margin: 10rem 0;
        margin-left: -5rem;
    }

    .row__reverse{
        margin-right: -5rem;
        margin-left: 0;
        z-index: 9;
    }

    .team__member-one > img, .team__member-two > img, .team__member-three > img, .team__member-four > img, .team__member-five > img {
        width: 50%;
    }

    .about__contact-btn > button{
        font-size: 18px;
    }

    .about__contact-btn{
        margin-bottom: 4rem;

        margin-right: 10rem;
    }

}

@media only screen and (min-width: 1200px) {

    .navigation__nav-items {
        gap: 7rem;
    }

    .footer__container{
        margin-left: 6rem;
    }

    .footer__info{
        width: 40%;
    }

    .footer__form{
        width: 40%;
    }

    .about__intro > img{
        height: unset;
    }

    .about__team{
        width: 50%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 850px) {

    .team__member-five{
        margin-bottom: -22rem;
    }

}

@media only screen and (min-width: 1500px) {

    .navigation__nav-items {
        gap: 7rem;
    }

    .footer__container{
        margin-left: 15rem;
    }

    .footer__info{
        width: 30%;
    }

}

