:root{
    --green-color: #216E61;
    --grayish-color: #494949;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    color: var(--grayish-color);
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

img{
    width: 100%;
}

.navigation{
    display: flex;
    background-color: rgba(31, 30, 30, 0.967);
    width: 100%;
}

.navigation__primary{
    width: 55%;
    height: 100vh;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.nav--visible{
    visibility: visible;
    position: relative;
}

.navigation__logo {
    width: 15%;
    margin-top: -53rem;
    margin-left: 1rem;
}

.navigation__nav-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__nav-items > a{
    color: white;
    cursor: pointer;
    padding-top: 3rem;
    font-size: 18px;
}

.navigation__nav-items > a:hover{
    color: var(--green-color);
}

.navigation__nav-items > a {
    text-decoration: none;
}

.navigation__nav-items > .active  {
    text-decoration: underline;
    color: var(--green-color);
}

.hamburger{
    width: 60%;
    position: relative;
}

.navigation__toggle{
    cursor: pointer;
    border: none;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--green-color);
    position: absolute;
    right: 0;
    margin: 2em;
}

.hamburger, .hamburger::before, .hamburger::after{
    display: block;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}

.hamburger::before, .hamburger::after{
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}




.hero__content-section {
    padding-top: 2rem;
}

.hero__content-section > h1{
    font-size: clamp(3rem, 5vw, 6rem);
}

.hero__content-section > h3{
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 300;
    font-style: italic;
    margin: .5em 0;
}

.hero__content-section > p{
   font-weight: 400;
   margin: 1em 0;
}

.hero__content-section > button{
    padding: 1rem 2rem;
    font-size: 21px;
    background-color: var(--green-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: .3s;
    transition-delay: .1s;
 }

 .hero__content-section > button:hover{
    background-color: #298979;
 }

.hero{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 5rem;
}

.hero__content-section{
    margin: -3rem 3em;
}

.hero > img{
    margin-top: 2rem;
}



@media only screen and (min-width:770px) {

    .navigation{
        justify-content: space-between;
        background-color: unset;
    }

    .navigation__toggle{
        display: none;
    }

    .navigation__logo{
        width: 100%;
        width: 5rem;
        margin-left: 11%;
        margin-top: -2rem;
    }

    .navigation__primary{
        visibility: visible;
        width: 90%;
        margin-top: 2rem;
        height: 10vh;
    }

    .navigation__nav-items{
        flex-direction: row;
        height: 0;
        gap: 3rem;
    }

    .navigation__nav-items > a{
        color: var(--grayish-color);
        font-size: 20px;
    }

}

@media only screen and (min-width: 850px) {

    .navigation__nav-items{
        gap: 4rem;
    }

}

@media only screen and (min-width: 1200px) {

    .navigation__nav-items {
        gap: 7rem;
    }

    .hero{
        margin: 0 3rem;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 11rem;
    }

    .hero__image{
        width: 50%;
    }

    .hero__content-section{
        width: 50%;
        padding-top: 7rem;
    }

    .hero__content-section > h1{
        font-size: 87px;
    }

    .hero__content-section > h3{
        font-size: 25px;
        margin-bottom: 2rem;
    }

    .hero__content-section > p{
        width: 90%;
        font-size: 21px;
        margin-bottom: 2rem;
    }

    .hero__content-section > button{
        font-size: 25px;
    }

}

